{% extends 'base.html' %}
{% block content %}

<main class="main">
    <header class="header">
        <div>
        <ol class='breadcrumb'>
            <li><a href='{% url "posts:list" %}'>Home</a></li>
            {% block post_detail_link %}
            {% endblock %}

            {% if not request.user.is_authenticated %}
            <li class='pull-right'><a href='{% url "register" %}'>Register</a></li>
            <li class='pull-right'><a href='{% url "login" %}'>Login</a></li>
            {% else %}
            <li class='pull-right'><a href='{% url "logout" %}'>Logout</a></li>
            {% endif %}
            </ol>
        </div>
        <div class='search'>
            <form  method='GET' action=''>
                <input class='searchTerm' type='text' name='q' placeholder='Search posts...' value='{{ request.GET.q }}' onfocus="if(this.placeholder == 'Search posts...') { this.placeholder = ''; }" onfocusout="if(this.placeholder == '') { this.placeholder = 'Search posts...'; }"/>
                <span class='SearchButton'><i class="fa fa-search"></i></span>
            </form>
        </div>

        <!-- <div class='search'>
            <div class='search_container'>
                <form method='GET' action=''>
                    <span class='icon'><i class="fa fa-search"></i></span>
                    <input type='text' name='q' placeholder='Search posts...' value= '{{ request.GET.q }}'>
                </form>
            </div>
        </div> -->
    </header>
</main>

<hr />
{% for obj in object_list %}
        <div class="blog">
            <div class="container">
                <div class="blog-posts">
                    <div class="blog-post-box ">
                        <div class="blog-post-feature">
                            <div class="blog-post-image">
                                <img src='{{ obj.image.url }}' />
                            </div>
                        </div>
                        <div class="blog-post-info">
                            <h3>
                                <a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a>
                            </h3>
                            <div class="blog-post-meta">
                                {{ obj.publish }}
                            </div>
                            <div class="blog-post-excerpt">
                                <p>{{ obj.get_markdown|truncatechars_html:250 }}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- blog-posts -->
            </div>
            <!-- container -->
        </div>
{% endfor %}


<!-- pagination https://docs.djangoproject.com/en/1.11/topics/pagination/ Using Paginator as view-->
<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

</div>

{% endblock content %}