{% extends 'base.html' %}
{% load urlify %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}



{% block content %}



<main class="main">
    <header class="post_header" style="background: transparent url({{ instance.image.url }}) no-repeat 0 0; background-size: cover;">
        {% block post_detail_link %}
        <div class='nav'>
            <ol class='breadcrumb'>
                <li><a href='{% url "posts:list" %}'>Home</a><span style='color:#fff; position:relative'> / </span><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
            </ol>
        </div>
        <div>
            <ol class='navbar'>
                <li id='portfolio'><a href='https://www.portfolio.hadrien.ai'>Portfolio</a></li>
            </ol>
        </div>
        {% endblock %}
        <!-- <div>
        <ol class='breadcrumb'>
            <li><a href='{% url "posts:list" %}'>Home</a></li>
            {% if not request.user.is_authenticated %}
            <li class='pull-right'><a href='{% url "register" %}'>Register</a></li>
            <li class='pull-right'><a href='{% url "login" %}'>Login</a></li>
            {% else %}
            <li class='pull-right'><a href='{% url "logout" %}'>Logout</a></li>
            {% endif %}
            </ol>
        </div> -->
        <!-- {% if instance.image %}
            <img style="background: transparent url(../images/hero.jpg) no-repeat 0 0";src='{{ instance.image.url }}' class='img-responsive' />
        {% endif %} -->
        <div class="post_header__inner">
        <hgroup class="post_header__hgroup">
          <h1 class="post_header__hgroup__title">{{ title }}</h1>
          <p class="post_header__hgroup__tagline"><small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></p>
        </hgroup>
        <footer class="post_header__footer row">
          <div class="post_header__footer__author col-md-8 col-sm-8 col-xs-12">
            {% if instance.user.get_full_name %}
            <div class="post_header__footer__author__written">Written By</div>
            <div class="post_header__footer__author__summary">{{ instance.user.get_full_name }}
              <!-- {{ instance.user.get_first_name }} <span class="post_header__footer__author__summary__name">{{ instance.user.get_last_name }}</span> --> <img class="post_header__footer__author__summary__avatar" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAV9AAAAJDVmYmUyYmU4LWQ2NGQtNGRhYS04MDhhLTZjYWFjZWJjMjBmNA.jpg" alt="Avatar" style="border-radius: 50%">
            </div>
            {% endif %}
          </div>
          <div class="post_header__footer__share col-md-4 col-sm-4 col-xs-12">
            <a href="#" class="post_header__footer__share__button header__footer__share__button--star" aria-label="star article"><i class="fa fa-star"></i></a>
            <a href="#" class="post_header__footer__share__button header__footer__share__button--heart" aria-label="heart article"><i class="fa fa-heart"></i></a>
            <a href="#" class="post_header__footer__share__button header__footer__share__button--share" aria-label="share article"><i class="fa fa-share"></i></a>
          </div>
          <div class="post_header__footer__reading__time col-md-4 col-sm-4 col-xs-12">
            Read time: {% if instance.read_time <= 1 %} < 1 minute {% else %}{{ instance.read_time }} minutes{% endif %}
          </div>
        </footer>
      </div>

    </header>

    <section class="content">
        <article class="content__article">
            {{ instance.get_markdown }}
        </article>

      <div class="content__back-to-top">
        <a href="#" class="content__back-to-top__link">Back To Top</a>
      </div>

      <div class="content__share">
        <a href="{{ instance.get_absolute_url }}" class="content__share__button"><i class="content__share__button__icon"></i> Share this Article</a>
      </div>
    </section>

    <!-- <footer class="footer row"> -->
<!--       <div class="footer__column footer__column--one col-md-6 col-xs-12"> -->
<!--         <div class="footer__column__next"> -->
<!--           <p class="footer__column__next__desc">Next in your Reading List...</p> -->
<!--           <h5 class="footer__column__next__title"> -->
<!--             Seaside, no thanks... -->
<!--           </h5> -->
<!--           <h6 class="footer__column__next__tagline"> -->
<!--             This is an awesome headline -->
<!--           </h6> -->
<!--         </div> -->
<!--       </div> -->
<!--       <div class="footer__column footer__column--two col-md-6 col-xs-12"> -->
<!--         <div class="footer__column__next"> -->
<!--           <p class="footer__column__next__desc">Next in your Reading List...</p> -->
<!--           <h5 class="footer__column__next__title"> -->
<!--             Roma, bella vita... -->
<!--           </h5> -->
<!--           <h6 class="footer__column__next__tagline"> -->
<!--             This is an awesome headline -->
<!--           </h6> -->
<!--         </div> -->
<!--       </div> -->
<!--     </footer> -->
</main>



<!-- <div> -->

    <!-- <p><div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
    <hr/>
    </p> -->
<!-- </div>
 --><!-- <div class='row'>
<div class='col-sm-12'>

    <div class='post-detail-item'>{{ instance.get_markdown }}</div> -->

    <!-- <hr/>
    </br>

    <div>
        {{ instance.comment_set.all }} 
    </div> -->

<!-- </div>
</div> -->

    <!-- <div>
        <p class='lead'>Comments</p>
        {% if request.user.is_authenticated %}
        <form method='POST' action='.'> {% csrf_token %}
            {{ comment_form|crispy }}
            <input type='submit' value='Post comment' class='btn btn-default'>
        </form>
        {% else %}
        <p>You must login to comment.</p>
        {% endif %}
        <hr/>
        {% for comment in comments %}

        <blockquote class='blockquote'>
            <p class='mb-0'> {{ comment.content }}</p>
            <footer class='blockquote-footer'>via {{ comment.user }} | {{ comment.timestamp|timesince }} ago | {% if comment.children.count > 0 %}{{ comment.children.count }} Comment{% if comment.children.count > 1 %}s{% endif %} | {% endif %} <a class='comment-reply-btn' href='#'>Reply</a> | <a class='' href='{{ comment.get_absolute_url }}'>Thread</a></footer>
            <div class='comment-reply' style='display:none'>

                {% for child_comment in comment.children %}
                    <blockquote class='blockquote'>
                        <p class='mb-0'> {{ child_comment.content }}</p>
                        <footer class='blockquote-footer'>via {{ child_comment.user }} | {{ child_comment.timestamp|timesince }} ago</footer>
                    </blockquote>
                {% endfor %}

                {% if request.user.is_authenticated %}
                <form method='POST' action='.'> {% csrf_token %}
                    {{ comment_form|crispy }}
                    <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                    <input type='submit' value='Reply' class='btn btn-default'>
                </form>
                {% else %}
                <p>You must login to comment.</p>
                {% endif %}
            </div>
        </blockquote>
        <hr/>
        {% endfor %}
    </div>

</div> -->

{% endblock content %}